@import 'colors';
header{
    min-height: 150px;
    .header-stripe{
        min-height: 20px;
        background-color: $main-blue;
    }
    .nav-wrapper{
        height: 160px;
        nav{
            display: flex;
            justify-content: space-between;
            height: 160px;
            .main-nav-logo{
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .nav-list{
                display: flex;
                align-items: center;
                justify-content: center;
            }
            ul{
                display: flex;
                li{
                    padding: 0;
                    margin: 0 0.6rem;
                    a{
                        padding: 50% 8px;
                        &:hover{
                            color: $main-blue;
                        }
                    }
                }
            }
        }
    }
}