@import 'generics';
@import 'colors';

header {
    background-color: white;
    height: 100px;
    // display: flex;

    #blue-stripe {
        height: 30px;
        background-color: $main-blue;
        color: white;
        padding: 3px 12.5%;

        ul {
            display: flex;
            margin: 0;
            justify-content: flex-end;
            li {
                a {
                    color: white;
                    margin-left: 3rem;
                    font-size: 8px;
                }
            }
        }
    }

    #jumbotron {
        min-height: 400px;
        background-image: url(/img/jumbotron.jpg);
        background-position: top center;

        button {
            position: absolute;
            bottom: 20.5%;
            left: 10%;
            border: 0;
        
        }    

        .current-series {
            background-color: $main-blue;
            padding: 20px 50px;
            text-transform: uppercase;
            color: #fff;
            font-size: 20px;
            text-align: center;
            cursor: pointer;
        }
    }
    
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
img {
    margin-top: 15px;
    margin-bottom: 15px;
    height: 70px;
    
}
nav {
    ul {
        display: flex;
        gap: 1.5rem;
        li {
            a {
                text-transform: uppercase;
                color: grey;
                font-size: 12px;
                font-weight: bold;
                
                &:hover{
                    color: $main-blue;
                }

                
            }
        }
    }
}