@import 'generics';

header {
    background-color: white;
    height: 100px;
    // display: flex;
    
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
img {
    margin-top: 15px;
    height: 70px;
    
}
nav {
    ul {
        display: flex;
        gap: 1.5rem;
        li {
            a {
                text-transform: uppercase;
                color: grey;
                font-size: 12px;
                font-weight: bold;
                
                &.active {
                    color: dodgerblue;
                    border-bottom: 2px solid dodgerblue;
                }
                
            }
        }
    }
}